Node-Red.Jason/FLOW 2
[
    {
        "id": "ee8fdbcd.9a9688",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": ""
    },
    {
        "id": "1f4e8eb6.c8d4f1",
        "type": "ui_button",
        "z": "ee8fdbcd.9a9688",
        "name": "",
        "group": "a6d9fc4e.43b2b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ola",
        "tooltip": "Acione para ter uma surpresa",
        "color": "",
        "bgcolor": "",
        "icon": "fa-handshake-o",
        "payload": "ola mundo Dashboard",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "bb7ccc5.6d98e3"
            ]
        ]
    },
    {
        "id": "bb7ccc5.6d98e3",
        "type": "ui_text",
        "z": "ee8fdbcd.9a9688",
        "group": "a6d9fc4e.43b2b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mensagem recebida",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 340,
        "y": 80,
        "wires": []
    },
    {
        "id": "443ba16e.92932",
        "type": "ui_text_input",
        "z": "ee8fdbcd.9a9688",
        "name": "",
        "label": "Informe seu nome:",
        "tooltip": "Digite o nome do usuario",
        "group": "6ea3b545.3429ec",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "d496d1ad.6c6b6"
            ]
        ]
    },
    {
        "id": "d496d1ad.6c6b6",
        "type": "ui_text",
        "z": "ee8fdbcd.9a9688",
        "group": "6ea3b545.3429ec",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mensagem recebida:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 340,
        "y": 180,
        "wires": []
    },
    {
        "id": "b580372a.eddc38",
        "type": "ui_slider",
        "z": "ee8fdbcd.9a9688",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "a6d9fc4e.43b2b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 140,
        "y": 340,
        "wires": [
            [
                "256718d0.8b9178"
            ]
        ]
    },
    {
        "id": "256718d0.8b9178",
        "type": "ui_gauge",
        "z": "ee8fdbcd.9a9688",
        "name": "",
        "group": "a6d9fc4e.43b2b",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 310,
        "y": 340,
        "wires": []
    },
    {
        "id": "a6d9fc4e.43b2b",
        "type": "ui_group",
        "name": "Ola mundo",
        "tab": "50c401f0.4d824",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6ea3b545.3429ec",
        "type": "ui_group",
        "name": "Entrada Texto",
        "tab": "50c401f0.4d824",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "50c401f0.4d824",
        "type": "ui_tab",
        "name": "Fatec",
        "icon": "fa-bandcamp",
        "disabled": false,
        "hidden": false
    }
]
