Node-Red.Jason/FLOW 1
[
    {
        "id": "34509c5a.2a2a54",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "c0edf3b7.d6203",
        "type": "inject",
        "z": "34509c5a.2a2a54",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Ola mundo",
        "payloadType": "str",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "143c8095.f4ba1f"
            ]
        ]
    },
    {
        "id": "143c8095.f4ba1f",
        "type": "debug",
        "z": "34509c5a.2a2a54",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "eb9dd79e.16b928",
        "type": "inject",
        "z": "34509c5a.2a2a54",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "3be7aaa5.83ed56"
            ]
        ]
    },
    {
        "id": "9f5939c3.59cea8",
        "type": "debug",
        "z": "34509c5a.2a2a54",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 240,
        "wires": []
    },
    {
        "id": "3be7aaa5.83ed56",
        "type": "change",
        "z": "34509c5a.2a2a54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Embarcados",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "Curso",
                "pt": "flow",
                "to": "Mecatronica",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "9f5939c3.59cea8"
            ]
        ]
    },
    {
        "id": "2756b53a.97d8ba",
        "type": "inject",
        "z": "34509c5a.2a2a54",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "7f0f064d.7d2198"
            ]
        ]
    },
    {
        "id": "7f0f064d.7d2198",
        "type": "change",
        "z": "34509c5a.2a2a54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Curso",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "a14f3cfa.8e1b4"
            ]
        ]
    },
    {
        "id": "a14f3cfa.8e1b4",
        "type": "debug",
        "z": "34509c5a.2a2a54",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 340,
        "wires": []
    },
    {
        "id": "ce477879.603578",
        "type": "inject",
        "z": "34509c5a.2a2a54",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 80,
        "y": 440,
        "wires": [
            [
                "8f74f25d.3f887"
            ]
        ]
    },
    {
        "id": "8f74f25d.3f887",
        "type": "switch",
        "z": "34509c5a.2a2a54",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 240,
        "y": 440,
        "wires": [
            [
                "a445d4b9.556fc8"
            ],
            [
                "599a86e0.da22b8"
            ],
            [
                "dd261042.1553b"
            ]
        ]
    },
    {
        "id": "a445d4b9.556fc8",
        "type": "change",
        "z": "34509c5a.2a2a54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Curso",
                "pt": "flow",
                "to": "mecatronica",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "599a86e0.da22b8",
        "type": "change",
        "z": "34509c5a.2a2a54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Curso",
                "pt": "flow",
                "to": "Driver",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "dd261042.1553b",
        "type": "change",
        "z": "34509c5a.2a2a54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Curso",
                "pt": "flow",
                "to": "Driver 2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "e666522f.748a1",
        "type": "inject",
        "z": "34509c5a.2a2a54",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 80,
        "y": 500,
        "wires": [
            [
                "8f74f25d.3f887"
            ]
        ]
    },
    {
        "id": "82b9a199.3892f",
        "type": "inject",
        "z": "34509c5a.2a2a54",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 90,
        "y": 560,
        "wires": [
            [
                "8f74f25d.3f887"
            ]
        ]
    }
]
