Node-Red.Jason/Requisição HTTP
[
    {
        "id": "ec0b168c.165888",
        "type": "tab",
        "label": "Requisições http",
        "disabled": false,
        "info": ""
    },
    {
        "id": "98c26ba5.9dd638",
        "type": "inject",
        "z": "ec0b168c.165888",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 20,
        "wires": [
            [
                "c5ea6c94.c1e59"
            ]
        ]
    },
    {
        "id": "f9ab7f6b.49ed4",
        "type": "http request",
        "z": "ec0b168c.165888",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 370,
        "y": 20,
        "wires": [
            [
                "8aae3534.dbb478",
                "4443fc70.f12b44",
                "a20abe51.a2eab",
                "4738b8aa.1366c8"
            ]
        ]
    },
    {
        "id": "c5ea6c94.c1e59",
        "type": "change",
        "z": "ec0b168c.165888",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "get",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://api.openweathermap.org/data/2.5/weather?q=Santo Andre,BR-SP&appid=77a7d464264cf85dfccaef1727a06acf&units=metric",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 100,
        "wires": [
            [
                "f9ab7f6b.49ed4"
            ]
        ]
    },
    {
        "id": "8aae3534.dbb478",
        "type": "debug",
        "z": "ec0b168c.165888",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "54fb4a0c.193174",
        "type": "ui_button",
        "z": "ec0b168c.165888",
        "name": "",
        "group": "c04c2393.ebf2b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Atualizar Temperatura",
        "tooltip": "Clique para atualizar os dados",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "c5ea6c94.c1e59"
            ]
        ]
    },
    {
        "id": "a20abe51.a2eab",
        "type": "ui_text",
        "z": "ec0b168c.165888",
        "group": "c04c2393.ebf2b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Umidade Relativa(%)",
        "format": "{{msg.payload.main.humidity}}",
        "layout": "col-center",
        "x": 480,
        "y": 380,
        "wires": []
    },
    {
        "id": "4443fc70.f12b44",
        "type": "ui_text",
        "z": "ec0b168c.165888",
        "group": "c04c2393.ebf2b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura Atual(Graus Celsius)",
        "format": "{{msg.payload.main.temp}}",
        "layout": "col-center",
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "4738b8aa.1366c8",
        "type": "ui_gauge",
        "z": "ec0b168c.165888",
        "name": "",
        "group": "c04c2393.ebf2b",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "Celsius",
        "format": "{{msg.payload.main.temp}}",
        "min": "-10",
        "max": "60",
        "colors": [
            "#00a7b3",
            "#5ce600",
            "#cb3a3a"
        ],
        "seg1": "",
        "seg2": "",
        "x": 260,
        "y": 340,
        "wires": []
    },
    {
        "id": "c04c2393.ebf2b",
        "type": "ui_group",
        "name": "Clima",
        "tab": "ddcb4c8f.6e26a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ddcb4c8f.6e26a",
        "type": "ui_tab",
        "name": "HTTP",
        "icon": "wi-darksky-tornado",
        "disabled": false,
        "hidden": false
    }
]
